extends layout.pug

block appContent
  br
  center
    h3 nueva categoria
    br
    .container
        form(action='/addcat', method='POST')
          #form-group
            input.form-control(name='categ',required, type='text',placeholder="Categoria" autocomplete='off') 
          br
          button.btn.btn-outline-secondary(type='submit') Crear Categoria
        br
        hr
        br
        form(action='/addsubcat', method='POST')
          #form-group
            select.custom-select(name='option', required)
              option(value='', disabled='', selected='') Opciones
              for i in items
                option(value=i._id) #{i.nombre}
          br
          #form-group
            input.form-control(name='subcat', required, type='text',placeholder="Sub-Categoria" autocomplete='off') 
          br
          button.btn.btn-outline-secondary(type='submit') Crear Sub-Categoria

        br
        for i in items
          p 
            b  #{i.nombre} -> 
            for f in i.subcat
              label #{f.nombre} &nbsp; 
